* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(16, 43, 219);
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* nav bar */

header{
    display: flex;
    padding: 20px 35px;
    background-color: #a0cce3;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    margin: 0 auto;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba( 0, 0, 0, 0.5)
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba( 0, 0, 0, 0.5);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    color: black;
}

header nav ul li a:hover {
    background-color: black;
    color: white;
    border-radius: 25px;
}

/* Hero */
.hero {
    background-image: url("../assets/images/Background-image.png");
    background-size: cover;
    background-position: 25% 75%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto; 
}

.welcome {
    position: absolute;
    right: 40px;
    font-size: 30px;
    top: 120px;
    color: rgb(16, 43, 219);
    padding: 1px;
    border: solid lightblue 3px;
    background-color: lightblue;
}

/* Title */
.title {
    display: flex;
}


/* about me */

.title h2{
    padding: 40px 20px 20px 15px;
    position: relative;
    text-align: left;
    /* border-right: 3px solid black; */
}

.bio { 
    text-align: left;
    flex-wrap: wrap;
    padding: 30px 20px 40px 30px;
    line-height: 1.4em;

}

.about-me {
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    }

.about-me img {
    border-radius: 75%;
    width: 30%;
    max-width: 100%;
    border: 3px solid #808080;
    box-shadow: lightgray;
    position: relative;
}

/* My Work New */
/* coded with help of tutor */

.work-pics {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-work {
    border: 3px solid rgb(49, 65, 166);
    color: rgb(16, 43, 219);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all .5s;
    font-size: 14.5px;
}

.my-work:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.my-work:hover {
    background-color: lightgray;
    
}

.my-work div {
    background-color: lightblue;
    padding: 5px 5px;
}

.my-work h3 {
    font-size: 23px;
}

/* my work images */

.run-buddy {
    background-image: url("../assets/images/RunBuddy-project.png");
    background-size: auto 153%;
}

.placeholder-1 {
    background-image: url("../assets/images/placeholder1.png");
    background-size: auto 120%;
}

.placeholder-2 {
    background-image: url("../assets/images/placeholder2.png");
    background-size: auto 120%;
}

.placeholder-3 {
    background-image: url("../assets/images/placeholder3.png") ;
    background-size: auto 120%;
}

.placeholder-4 {
    background-image: url("../assets/images/placeholder4.png");
    background-size: auto 120%;
}

/* move text on work pictures */

/* contact me */

.contact-one {
    background-color: gray;
}

section div ul li {
    padding: 35px 0px 0px 200px;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px black;
}

/* Footer */

footer {
    background-color: black;
    color: gray;
    padding: 5px 5px; 
    font-size: 9px;
    top: 0;
    flex-wrap: wrap;
    padding: 15px;
}

/* MEDIA QUERIES FOR SMALLER SCREENS */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }

@media screen and (max-width: 920px) {
    .about-me img {
        width: 200px;
        height: 200px;
    }

    .bio {
        font-size: 12px;
    }

@media screen and (max-width: 480px) {
    .about-me img {
        width: 100px;
        height: 100px;
    }
}
}
