* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {color: navy;
font-family: Georgia, 'Times New Roman', Times, serif
}

/* nav bar */

header{
    display: flex;
    padding: 20px 35px;
    background-color: lightgray;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba( 0, 0, 0, 0.5)
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
}

header nav ul li a:hover {
    background-color: grey;
    color: white;
    border-radius: 10px;
}