* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(30, 0, 128);
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* nav bar */

header{
    display: flex;
    padding: 20px 35px;
    background-color: lightgray;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url(/assets/images/Background-image.png);
    background-size: cover;
    background-position: center;
    position: sticky;
    margin: 0 auto;
    background-attachment: local;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba( 0, 0, 0, 0.5)
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba( 0, 0, 0, 0.5);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    color: black;
}

header nav ul li a:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

/* Hero */
.hero {
    background-image: url(/assets/images/Background-image.png);
    background-size: cover;
    background-position: bottom;
    padding: 40px;
    background-attachment: local;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto; 
}

/* about me */

.about div h2{
    padding: 25px;
    position: relative;
}

/* Footer */

footer {
    background-color: black;
    color: gray;
    padding: 5px 5px; 
    font-size: 9px;
    top: 0;
    flex-wrap: wrap;
    padding: 15px;
}

/* MEDIA QUERIES FOR SMALLER SCREENS */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }
}